<div class="jumbotron p-5">
  <h1 class="display-4"><a href="https://www.privacytools.io/" title="privacytools.io"><img src="/assets/img/layout/logo.png" width="600" height="88" class="img-fluid" alt="privacytools.io"></a></h1>
  <p class="lead">За тобой следят. Частные и спонсированные государством организации собирают данные о твоей Интернет-активности. Privacytools-ru дает тебе необходимые знания и инструменты для защиты от слежки.</p>
</div>

<form method="POST" action="https://search.privacytools.io/" id="search_form" role="search">
<div class="input-group col-12 col-md-12">
<input type="search" name="q" class="form-control input-lg" id="q" placeholder="Попробуй search.privacytools.io, поисковую систему, уважающую конфиденциальность" autocomplete="off" value="">
<span class="input-group-btn">
<button type="submit" class="btn btn-primary input-lg"><span class="hide_if_nojs"><i class="fas fa-search"></i> </span><span class="hidden active_if_nojs">начать поиск</span></button>
</span>
</div>
</form>
