<div class="page-header">
  <h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> Участвуйте с предложениями и конструктивной критикой</h1>
</div>

<p>Для таких сайтов, как privacytools.io, очень важно быть в курсе последних событий. Следите за обновлениями программного обеспечения для приложений, перечисленных на privacytools.io. Следите за последними новостями о рекомендуемых нами провайдерах. Мы стараемся идти в ногу со временем, но мы не совершенны, и Интернет быстро меняется. Если вы обнаружили ошибку или считаете, что поставщик услуг не должен быть указан здесь, или квалифицированный провайдер отсутствует, или плагин браузера больше не лучший выбор, или что-либо еще... <strong>Расскажите нам, пожалуйста.</strong> Вы также можете найти нас на <a rel="me" href="https://social.privacytools.io/@privacytools">нашей инстанции Mastodon</a> или в <a href="https://chat.privacytools.io">Matrix</a> на <code class="highlighter-rouge">#general:privacytools.io</code>.</p>

<div class="row">

  {% include card.html color="success"
  title="Discourse и Reddit"
  image="/assets/img/icons/discourse.png"
  url="https://forum.privacytools.io/"
  website="Discourse"
  extra_button='<a class="btn btn-success mb-1" href="https://www.reddit.com/r/privacytoolsIO/">Reddit</a>'
  description='Присоединяйтесь к нашему сообществу, чтобы быть в курсе последних новостей о конфиденциальности или вносить предложения!'
  %}

  {% include card.html color="primary"
  title="Подпишитесь на нас в Mastodon и Twitter"
  image="/assets/img/icons/mastodon.png"
  url="https://social.privacytools.io/"
  website="Mastodon"
  extra_button='<a class="btn btn-primary mb-1" href="https://twitter.com/privacytoolsIO">Twitter</a>'
  description="Получайте последние новости, связанные с частной жизнью, из нашей ленты в Mastodon. Следите за нами уже сегодня!"
  %}

  {% include card.html color="warning"
  title="Разработка на GitHub"
  image="/assets/img/icons/github.png"
  url="https://github.com/digitalkiller/privacytools-ru"
  website="GitHub"
  description='Исходный код данного форка privacytools.io располагается на GitHub. Мы стараемся как можно часто обновлять наш сайт. Так же вы можете посмотреть <a href="https://github.com/privacytoolsIO/privacytools.io">исходный код оригинала</a>.'
  extra_button='<a class="btn btn-warning mb-1" href="https://github.com/privacytoolsIO/privacytools.io/graphs/contributors">Список участников оригинала</a>'
  %}

</div>

<p>Это общественный проект, целью которого является предоставление лучшей доступной информации для улучшения конфиденциальности в Интернете. Спасибо, что приняли участие. Ты нужен этому проекту.</p>
