<h1 id="resources" class="anchor"><a href="#resources"><i class="fas fa-link anchor-icon"></i></a> Дополнительные ресурсы по защите конфиденциальности</h1>

<h3>Руководства</h3>

<ul>
  <li><a href="https://ssd.eff.org/"><strong>Surveillance Self-Defense от EFF (на англ.)</strong></a> - Руководство по защите от наблюдения с использованием безопасных технологий и разработке осторожных методов.</li>
  <li><a href="https://github.com/cryptoseb/CryptoPaper"><strong>The Crypto Paper (на англ.)</strong></a> - Конфиденциальность, безопасность и анонимность для каждого пользователя Интернета.</li>
  <li><a href="https://emailselfdefense.fsf.org/en/"><strong>Email Self-Defense от FSF (на англ.)</strong></a> - Руководство по борьбе с наблюдением с помощью шифрования GnuPG.</li>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/"><strong>The Ultimate Privacy Guide (на англ.)</strong></a> - Отличное руководство по конфиденциальности, написанное создателями сайта bestVPN.com.</li>
  <li><a href="https://www.ivpn.net/privacy-guides"><strong>IVPN Privacy Guides (на англ.)</strong></a> - В этих руководствах по обеспечению конфиденциальности разъясняется, как добиться гораздо большей свободы, конфиденциальности и анонимности за счет разделения помещений и изоляции.</li>
  <li><a href="https://fried.com/privacy"><strong>The Ultimate Guide to Online Privacy (на англ.)</strong></a> - Комплексные "Советы по сохранению конфиденциальности от ниндзя" и более 150 инструментов.</li>
</ul>

<h3>Информация</h3>

<ul>
  <li><a href="https://www.reddit.com/r/privacytoolsIO/wiki/index"><strong>Вики r/privacytoolsIO (на англ.)</strong></a> - Вики команды privacytools.io на reddit.com.</li>
  <li><a href="https://www.grc.com/securitynow.htm"><strong>Security Now! (на англ.)</strong></a> - Еженедельный подкаст интернет-безопасности Стива Гибсона и Лео Лапорта.</li>
  <li><a href="https://www.jupiterbroadcasting.com/show/techsnap/"><strong>TechSNAP (на англ.)</strong></a> - Еженедельный подкаст по системам, сетям и администрированию. Каждую неделю TechSNAP освещает истории, которые влияют на тех из нас, кто работает в технологической отрасли.</li>
  <li><a href="https://keybase.io/"><strong>Keybase.io (на англ.)</strong></a> - Получите открытый ключ, безопасно, начиная только с чьего-то имени пользователя в социальных сетях.</li>
  <li><a href="https://freedom.press/"><strong>Freedom of the Press Foundation (на англ.)</strong></a> - Поддержка и защита журналистики, приверженной принципам прозрачности и подотчетности с 2012 года.</li>
  <li><a href="https://www.erfahrungen.com/mit/anonymisierung/t/"><strong>Erfahrungen.com (на англ.)</strong></a> - Веб-сайт агрегатора немецкого обзора услуг, связанных с частным сектором.</li>
  <li><a href="https://tosdr.org/"><strong>Terms of Service; Didn't Read (на англ.)</strong></a> - "Я прочитал и согласен с Условиями" - самая большая ложь в Интернете. Мы намерены исправить это.</li>
  <li><a href="https://privacy.net/us-government-surveillance-spying-data"><strong>privacy.net (на англ.)</strong></a> - Что о вас знает правительство США?</li>
</ul>

<h3>Утилиты</h3>

<ul>
  <li><a href="https://ipleak.net/"><strong>ipleak.net (на англ.)</strong></a> - Обнаружение IP/DNS - Какой ваш IP-адрес, какой DNS, какую информацию вы отправляете на веб-сайты.</li>
  <li><a href="https://www.ghacks.net/2015/12/28/the-ultimate-online-privacy-test-resource-list/"><strong>The ultimate Online Privacy Test Resource List (на англ.)</strong></a> - Сборник интернет-сайтов, которые проверяют, не происходит ли утечка информации из вашего веб-браузера.</li>
  <li><a href="https://prism-break.org/"><strong>PRISM Break (на англ.)</strong></a> - Мы все имеем право на конфиденциальность, которой вы можете воспользоваться сегодня, зашифровав ваши сообщения и положив конец использованию проприетарных услуг.</li>
  <li><a href="https://securityinabox.org/"><strong>Security in-a-Box (на англ.)</strong></a> - Руководство по цифровой безопасности для активистов и борцов за права человека во всем мире.</li>
  <li><a href="https://securedrop.org/"><strong>SecureDrop (на англ.)</strong></a> - Открытая система подачи заявлений, с помощью которой медийные организации могут безопасно принимать документы и общаться с анонимными источниками. Первоначально он был создан покойным Аароном Шварцем и в настоящее время находится в ведении Фонда Свободы Прессы.</li>
  <li><a href="https://pack.resetthenet.org/"><strong>Reset The Net - Privacy Pack (на англ.)</strong></a> - Помогите бороться, чтобы положить конец массовому наблюдению. Получите эти инструменты, чтобы защитить себя и своих друзей.</li>
  <li><a href="https://secfirst.org/"><strong>Security First (на англ.)</strong></a> - Umbrella - это приложение для Android, предоставляющее все советы, необходимые для безопасной работы во враждебной среде.</li>
  <li><a href="https://notabug.org/themusicgod1/cloudflare-tor"><strong>Block Cloudflare MiTM Attack (на англ.)</strong></a> - Дополнение Firefox для обнаружения и блокирования атак Cloudflare MITM.</li>
  <li><a href="https://www.osalt.com/"><strong>Osalt (на англ.)</strong></a> - Справочник, который поможет вам найти открытую альтернативу проприетарным утилитам.</li>
  <li><a href="https://alternativeto.net/"><strong>AlternativeTo (на англ.)</strong></a> - Справочник для поиска альтернатив другим программам с возможностью показа только открытого исходного кода.</li>
</ul>

<p>Примечание: Просто быть программным обеспечением с открытым исходным кодом не делает его безопасным!</p>
