<h1 id="os" class="anchor">Утилиты конфиденциальности</h1>

<p><a href="/classic/"><i class="fas fa-info-circle"></i> Предпочитаете классический сайт? Отобразить одностраничный шаблон.</a></p>

<div class="row">

  {% include card.html color="success"
  title="Провайдеры"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="Откройте для себя сервисы, ориентированные на конфиденциальность, включая почтовых провайдеров, операторов VPN, администраторов DNS и многое другое!"
  %}

  {% include card.html color="primary"
  title="Веб-браузеры"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="Найдите веб-браузер, в котором соблюдается конфиденциальность, и узнайте, как защитить свой браузер от отслеживания и утечек."
  %}

  {% include card.html color="warning"
  title="Программное обеспечение"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="Откройте для себя разнообразные программы с открытым исходным кодом, созданные для защиты вашей конфиденциальности и обеспечения безопасности ваших цифровых данных."
  %}

  {% include card.html color="info"
  title="Операционные системы"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="Узнайте, как ваша операционная система компрометирует вашу конфиденциальность и какие существуют простые альтернативы."
  %}

  {% include card.html color="secondary"
  title="Сервисы privacytools.io"
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description="Команда privacytools.io гордится запуском различных сервисов, ориентированных на конфиденциальность, включая инстанцию Mastodon, поисковую систему и многое другое!"
  %}

  {% include card.html color="danger"
  title="Пожертвование"
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description="Команда privacytools.io не может управлять privacytools.io без щедрых пожертвований, которые они получают от их посетителей. Если вы любите конфиденциальность и сайт privacytools.io, пожалуйста, подумайте о пожертвованиях."
  %}

</div>
